<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/site.css">
  </head>
  <body>
    <header>
        <img id="site-logo" src="/images/twitter-logo-blue.png" alt="Twitter logo">
    </header>
    <p class="info">
        This is a demo of the finished project from the Twitter clone course.  Feel free to look around and try out the site. You can't mess anything up.
        <br>
        <br>
        If you want to learn how to build this website, my course will teach you with no prior knowldedge required! <a href="https://trysparkschool.com/twitter-clone-course-checkout?utm_source=demo&utm_campaign=twitter_clone&utm_medium=link">Click here to get the course!</a>
    </p>
    <main>
      <form id="tweet-form" action="/tweets/create" method="POST">
        <input id="tweet-form-handle" type="text" name="handle" placeholder="DonkkaShane">
        <textarea id="tweet-form-body" name="body" placeholder="What's happening?"></textarea>
        <button id="tweet-form-button">Tweet</button>
      </form>
      <% for(var i = 0; i < tweets.length; i++) { %>
        <%- include('_tweet', { tweet: tweets[i] }); %>
      <% } %>
    </main>
  </body>
</html>
